@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('font/lanenar_-webfont.woff2') format('woff2'),
         url('font/lanenar_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#background {
    background-image: url(background.svg);
    grid-column: 1/4;
    grid-row:1/4;
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
}

body {
    font-family: 'lane_-_narrowregular', 'Courier New';
    text-align: center;
}

button:hover {
    font-size: 14px;
    height: 50px;
    width: 200px;
    background: #FFFFFF;
}
  
button:active {
    font-size: 12px;
    height: 50px;
    width: 200px;
    background: #FFFFFF;
}
  
button {
    font-size: 12px;
    height: 50px;
    width: 200px;
    background-color: #FFFFFF !important;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.Header {
    grid-column: 2/5;
    grid-row: 1/2;
}

.Home {
    display: grid;
    grid-template-columns:  repeat(5, 2fr);
    grid-template-rows: 30fr 80fr 5fr 15fr;
    justify-items: center;
    align-items: start;
}

.Login {
    grid-column: 3/4;
    grid-row: 2/3;
}

.NavButton {
    grid-column: 3/4;
    grid-row: 3/4;
}

.PowersUL {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-column-gap: 4em;
}

.WelcomeDescription {
    padding: 3em;
    grid-column: 2/5;
    grid-row: 2/3;
    font-size: 20pt;
}