@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('font/lanenar_-webfont.woff2') format('woff2'),
         url('font/lanenar_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.Accordian {
    grid-column: 2/5;
    grid-row:2/4;
}

#background {
    background-image: url(background.svg);
    grid-column: 1/4;
    grid-row:1/4;
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
}

body {
    font-family: 'lane_-_narrowregular', 'Courier New';
    text-align: center;
}

button:hover {
    font-size: 14px;
    height: 50px;
    width: 200px;
    background: #FFFFFF;
}
  
button:active {
    font-size: 12px;
    height: 50px;
    width: 200px;
    background: #FFFFFF;
}
  
button {
    font-size: 12px;
    height: 50px;
    width: 200px;
    background-color: #FFFFFF !important;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.Directions {
    margin: 1% 24%; 
}

.Header {
    grid-column: 2/5;
    grid-row: 1/2;
}

.Home {
    display: grid;
    grid-template-columns:  repeat(5, 2fr);
    grid-template-rows: 20fr 20fr 20fr 10fr 5fr 25fr;
    justify-items: center;
    align-items: start;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    text-decoration: underline;
    color: #eee;
}

.Login {
    grid-column: 3/4;
    grid-row: 2/3;
}

.NavButton {
    grid-column: 3/4;
    grid-row: 5/6;
}

.NavButton1 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.OriginField {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-items: center;
    align-items: center;
}

.PowersUL {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-column-gap: 4em;
}

.skillsButton {
    padding: 0% 0%;
    margin: 0% 0%;
    width: 20px;
    height: 20px;
}

.skillsButton:active {
    width: 20px;
    height: 20px;
}

.skillsButton:hover {
    width: 22px;
    height: 22px;
}

.skillsLI {
    padding: 0% 8%;
    width: 200px;
    height: 160px;
}

.skillsUL {
    margin: 0% 25%;
}

#textGap {
    margin-bottom: 3em;
    align-items: center;
    text-align: center;
}

.traitsLI {
    padding: 0% 2%;
    width: 157px;
    height: 60px;
}

.traitsUL {
    margin: 0% 12%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 50px;
    overflow: hidden;
}

.WelcomeDescription {
    grid-column: 2/5;
    grid-row: 2/5;
    font-size: 20pt;
}