.Background {
    background-image: url(background.svg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    font-size: 14px;
    height: 50px;
    width: 200px;
    background: #FFFFFF;
}
  
button:active {
    font-size: 12px;
    height: 50px;
    width: 200px;
    background: #FFFFFF;
}
  
button {
    font-size: 12px;
    height: 50px;
    width: 200px;
    background-color: #FFFFFF !important;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    margin: 0% 42% !important;
}

.Directions {
    margin: 1% 24%; 
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

#homeButton1 {
    padding: 40% 0% 0% 0%;
}

#homeButton2 {
    padding: 0% 20% 0% 0%;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #00acb0;
    padding: 5px;
    color: #ece7e7;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    text-decoration: underline;
    color: #eee;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}

.powersLI {
    padding: 0% 3.25%;
    width: 239px;
    height: 37px;
}

.powersUL {
    margin: 0% 15%;
}

.skillsLI {
    padding: 0% 8%;
    width: 180px;
    height: 110px;
}

.skillsUL {
    margin: 0% 30%;
}

.traitsLI {
    padding: 0% 2%;
    width: 157px;
    height: 60px;
}

.traitsUL {
    margin: 0% 12%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 50px;
    overflow: hidden;
}
